.child {
  max-width: 290px !important;
  min-width: 280px !important;
  width: 100%;
}

.h-48 {
  height: 48px;
}

.bt{
  border-top: 2px solid var(--color-text) !important;
}
.link{
  color: #587FFF!important;
  font-weight: 600;
}